a {
  color: var(--color-accent-secondary);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.button {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;

  &:hover {
    cursor: pointer;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-bg);
  }
}

code {
  font-family: Consolas, Monaco, monospace;
}
