// Theme by Frank Kulak, based on code found here:
// https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-tomorrow.css
//
// Original comment:
// | prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
// | Based on https://github.com/chriskempson/tomorrow-theme
// | @author Rose Pritchard

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: Consolas, Monaco, monospace;
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token {
  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

:root[data-theme="dark"] {
  code[class*="language-"],
  pre[class*="language-"] {
    color: $cool-white;
  }

  .token {
    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
      color: rgba(121, 121, 121, 0.74);
    }

    &.punctuation {
      color: $cool-white;
    }

    &.tag,
    &.namespace,
    &.deleted {
      color: #e06c75;
    }

    &.function,
    &.function-name {
      color: #66bad9;
    }

    &.boolean,
    &.attr-name,
    &.number {
      color: #e69552;
    }

    &.property,
    &.class-name,
    &.constant,
    &.symbol {
      color: #e06c75;
    }

    &.selector,
    &.important,
    &.atrule,
    &.keyword,
    &.builtin {
      color: #c980e6;
    }

    &.string,
    &.char,
    &.attr-value,
    &.regex,
    &.variable {
      color: #98c379;
    }

    &.operator,
    &.entity,
    &.url {
      color: #bbcddd;
    }

    &.inserted {
      color: #98c379;
    }
  }
}

:root[data-theme="light"] {
  code[class*="language-"],
  pre[class*="language-"] {
    color: $dark-gray;
  }

  .token {
    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
      color: rgba(121, 120, 120, 0.8);
    }

    &.punctuation {
      color: $dark-gray;
    }

    &.tag,
    &.namespace,
    &.deleted {
      color: #e2555a;
    }

    &.function,
    &.function-name {
      color: #209dd6;
    }

    &.boolean,
    &.attr-name,
    &.number {
      color: #e27720;
    }

    &.property,
    &.class-name,
    &.constant,
    &.symbol {
      color: #d45248;
    }

    &.selector,
    &.important,
    &.atrule,
    &.keyword,
    &.builtin {
      color: #a234ce;
    }

    &.string,
    &.char,
    &.attr-value,
    &.regex,
    &.variable {
      color: #17a04c;
    }

    &.operator,
    &.entity,
    &.url {
      color: #4c545a;
    }

    &.inserted {
      color: green;
    }
  }
}
